<div class="container" style="margin-top: 50px">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input
          class="input"
          type="number"
          (input)="onChangePasswordLength($event.target)"
        />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <button
        [disabled]="isDisabled()"
        (click)="onButtonClick()"
        class="button is-link is-fullwidth"
      >
        Generate!
      </button>

      <div *ngIf="password" class="box">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 50px">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <h3 class="title has-text-centered">About this app</h3>
    </div>
    <div class="column is-two-thirds">
      <p>
        This app is a simple demo of what can be achieved with Angular, a Single
        Page Application framework. The coding has been completed by
        <a href="https://stulast.co.uk" target="_blank">
          Stu Last
          <span class="icon"> <i class="fas fa-external-link-alt"></i> </span>
        </a>
        of
        <a hef="https://spycedconcepts.uk" target="_blank"
          >Spyced Concepts
          <span class="icon">
            <i class="fas fa-external-link-alt"></i>
          </span> </a
        >. You can view full code repository on
        <a
          href="https://github.com/StuLast/angular-demo-password-generator"
          target="_blank"
          >Github.com
          <span class="icon"> <i class="fas fa-external-link-alt"></i> </span>
        </a>
      </p>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 50px">
  <div class="columns is-centered">
    <strong>Cookies and Privacy:</strong>
    <p style="margin-left: 20px">
      No cookies are set for this website and no personal information is
      gathered.
    </p>
  </div>
</div>
