<h1>Password Generator</h1>

<div class="">
  <label for="">Enter password length</label>
  <input type="text" [value]="passwordLength"/>
</div>

<div class="">
  <label for=""> Use Letters</label>
  <input type="checkbox" name="" id="" />
</div>

<div class="">
  <label for=""> Use Numbers</label>
  <input type="checkbox" name="" id="" />
</div>

<div class="">
  <label for=""> Use Symbols</label>
  <input type="checkbox" name="" id="" />
</div>

<div class="">
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div class="">
  <label for="">Your Password</label>
  <input type="text" [value]="password"/>
</div>

