<h1>Password Generator</h1>

<div>
  <label >Enter password length</label>
  <input type="number" (input)="onChangePasswordLength($event.target)" [value]="passwordLength"/>
</div>

<div>
  <label > Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()" />
</div>

<div>
  <label> Use Numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()" />
</div>

<div>
  <label> Use Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()"/>
</div>

<div class="">
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div class="">
  <label for="">Your Password</label>
  <input type="text" [value]="password"/>
</div>

<div style="color: red">
  {{ errMessage }}
</div>

